[submodule "GameStreamDotNet/MoonlightCommonBinding/moonlight-common-c"]
	path = GameStreamDotNet/MoonlightCommonBinding/moonlight-common-c
	url = https://github.com/moonlight-stream/moonlight-common-c
